In [1]:
# Import the pandas module
import pandas as pd

# Load dataset into dataframe object and view the first 5 rows
df = pd.read_csv('../data/CTA_-_Ridership_-_Bus_Routes_-_Monthly_Day-Type_Averages___Totals.csv')
df.head()

,route,routename,Month_Beginning,Avg_Weekday_Rides,Avg_Saturday_Rides,Avg_Sunday-Holiday_Rides,MonthTotal
0,1,Indiana/Hyde Park,1/1/2001,6982.6,0.0,0.0,153617
1,2,Hyde Park Express,1/1/2001,1000.0,0.0,0.0,22001
2,3,King Drive,1/1/2001,21406.5,13210.7,8725.3,567413
3,4,Cottage Grove,1/1/2001,22432.2,17994.0,10662.2,618796
4,6,Jackson Park Express,1/1/2001,18443.0,13088.2,7165.6,493926

In [2]:
# Generate overview of various summary statistics
df.describe()

,Avg_Weekday_Rides,Avg_Saturday_Rides,Avg_Sunday-Holiday_Rides,MonthTotal
count,26717.000000,26717.000000,26717.000000,2.671700e+04
mean,6802.962136,4344.783247,2997.660647,1.775485e+05
std,6926.447052,5492.192778,3919.676953,1.884412e+05
min,0.000000,0.000000,0.000000,1.000000e+00
25%,1348.900000,0.000000,0.000000,3.116100e+04
50%,4093.800000,1982.700000,1214.300000,1.019010e+05
75%,10680.200000,7060.500000,4915.900000,2.791850e+05
max,37787.200000,30644.600000,24110.900000,1.058879e+06

In [3]:
# Create separate columns for Month and Year from the 'Month_Beginning' column
df['month'] = pd.DatetimeIndex(df['Month_Beginning']).month
df['year'] = pd.DatetimeIndex(df['Month_Beginning']).year

In [4]:
# Get the size or number of routes grouped by 'year' and 'month'
df['route'].groupby([df['year'], df['month']]).agg(['count'])

            count
year month
2001 1        130
     2        131
     3        132
     4        132
     5        133
     6        133
     7        132
     8        133
     9        134
     10       132
     11       132
     12       132
2002 1        132
     2        131
     3        132
     4        132
     5        134
     6        136
     7        136
     8        136
     9        136
     10       136
     11       136
     12       136
2003 1        134
     2        134
     3        135
     4        135
     5        137
     6        140
...           ...
2014 6        128
     7        129
     8        129
     9        129
     10       128
     11       129
     12       128
2015 1        127
     2        128
     3        127
     4        127
     5        128
     6        128
     7        128
     8        128
     9        130
     10       129
     11       129
     12       130
2016 1        130
     2        129
     3        130
     4        130
     5        130
     6        130
     7        129
     8        130
     9        132
     10       130
     11       129

[191 rows x 1 columns]