In [2]:
import pandas as pd
df = pd.read_csv('../data/CTA_-_Ridership_-_Bus_Routes_-_Monthly_Day-Type_Averages___Totals.csv')
df.head()

,route,routename,Month_Beginning,Avg_Weekday_Rides,Avg_Saturday_Rides,Avg_Sunday-Holiday_Rides,MonthTotal
0,1,Indiana/Hyde Park,1/1/2001,6982.6,0.0,0.0,153617
1,2,Hyde Park Express,1/1/2001,1000.0,0.0,0.0,22001
2,3,King Drive,1/1/2001,21406.5,13210.7,8725.3,567413
3,4,Cottage Grove,1/1/2001,22432.2,17994.0,10662.2,618796
4,6,Jackson Park Express,1/1/2001,18443.0,13088.2,7165.6,493926